@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

/* Formatação do Body e Interface */

body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    color: RGBA(0,0,0,1);
}

div#interface {
    width: 1000px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* deslocamento lateral, vertical, espalhamento da sombra e cor. */
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    color: #606060;
    text-decoration: none;
} 

a:hover {
    text-decoration: underline;
}

/* Formatação do Header */

header#cabecalho img#icone {
    position: absolute;
    top: 55px;
    left: auto;
    right: auto;
    margin-left: 840px;
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30px;
    color: #606060;
    text-shadow: 1px 1px 1px RGBA(0,0,0,0.6);
    padding: 0;
    margin-bottom: 0;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: #888888;  
    padding: 0; 
    margin-top: 0;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;  
    height: 130px;  
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 70px;   /* adicionando uma imagem no cabeçalho pelo css. Obs: foi utilizado "../" no começo da url para indicar que a imagem está fora da pasta "_css". */
}

/* Formatação do menu */

nav#menu {
    display: block;
}

nav#menu h1 {
   display: none; 
}

nav#menu ul {
    list-style: none;    
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: auto;
    right: auto;
    margin-left: 350px;
}

nav#menu li {
    display: inline-block;
    background-color: #ccc;
    padding: 10px;
    margin: 0px;
    transition: background-color 1s;
}
 
nav#menu li:hover {
    background-color: #606060;
}

nav#menu a {
    color: black;           /* muda a cor do link */
    text-decoration: none;    /* tira o sublinhado do link */
}

nav#menu a:hover {
    color: white;
}

/* Formatação de imagens com legendas */

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: RGBA(0,0,0,0.4
    );
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/* Formatação do conteúdo principal */

section#corpo {
    display: block;
    width: 500px;
    float: left;         /* fazer com que o conteúdo flutue à esquerda */
    border-right: 1px solid #606060;
    padding-right: 15px;
}

article#noticia-principal h2 {
    font-size: 13pt;    
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0pt;
}

header#cabecalho-artigo h3 {
    font-size: 12pt;
    color: #606060;
}

.direita {
    text-align: right;    
}

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px; /* remove o espaço entre as bordas da tabela */   
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td {
    border: 1px solid #606060;  
    padding: 10px;  
    vertical-align: middle;
    text-align: left;
}

table#tabelaspec td.colesq {
    color: #ffffff;
    font-weight: bold;
    background-color: #606060;
    vertical-align: top;        /* definições em classe sempre sobrepoe as de componentes simples */
    text-align: right;          /* definições em classe sempre sobrepoe as de componentes simples */
}

table#tabelaspec td.coldir {
    color: #000;
    background-color: #cecece;
}

table#tabelaspec caption {
    color: #888888;
    font-size: 15pt;
    font-weight: bolder;
}

table#tabelaspec caption span {
    color: #000;
    font-size: 8pt;
    display: block;            /* será um bloco flutuante que irá se desconectar do texto */
    float: right;              /* vai ter uma flutuação à direita */ 
    margin-top: 10px;          /* aumentar a margem do top faz com que o span desça para a base da linha */
}

aside#lateral {
    display: block;
    width: 450px;
    float: right;        /* fazer com que o conteúdo flutue à direita */
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

aside#lateral h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 5px;
}

aside#lateral h2 {
    font-size: 13pt;
    color: #ffffff;
    background-color: #606060;
    padding: 5px;
}

footer#rodape {
    clear: both;         /* limpar ambos: essa propriedade faz com que o rodape seja exibido fora das sessões corpo e lateral. */
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}

